<%= form_with(model: todo_list, local: true) do |form| %>
  <% if todo_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo_list.errors.count, "error") %> prohibited this todo_list from being saved:</h2>

      <ul>
      <% todo_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


      <div class="field">
        <%= form.label :task_name, "Task:"%>
        <%= form.text_field :task_name %>
      </div>

      <div class="field">
        <%= form.label :task_content, "Description:" %>
        <%= form.text_area :task_content %>
      </div>

      <div class="field">
        <%= form.label :due_date %>
        <%= form.date_select :due_date %>
      </div>

      <div class="field">
        <%= form.label :user_id %>
        <%= form.text_field :user_id %>
      </div>

      <div class="actions">
        <%= form.submit(class: "button")%>
      </div>
    <% end %>
