<h1>Welcome to WellBee 🐝!</h1>

<p id="notice"><%= notice %></p>

<ul class="navigation">
  <li><%= link_to 'About WellBee', new_user_path %></li>
  <li><%= link_to 'Login', new_user_path %></li>
  <li><%= link_to 'Create Account', new_user_path %></li>
  <li><%= link_to 'Analytics', new_user_path %></li>

</ul>



<br>
