<h1>WellBee 🐝</h1>

<p id="notice"><%= notice %></p>
<h2 style="color: #EED79B;">
  Welcome, <%= @user.first_name %>!
</h2>


  

<div class= "menu">
<ul>
<li><%= link_to 'Create a Task', new_user_todo_list_path(@user) %></li>
<li><%= link_to 'Express Gratitude', new_user_gratitude_journal_path(@user) %></li>
<li><%= link_to 'Edit', edit_user_path(@user) %></li>
<li><%= link_to 'Back', users_path %></li>
</ul>

</div>

<% @user.todo_lists.each do |todo_list| %>
  <div class="card">
    <div class="container">
      <p style="float:left"><b><%= todo_list.task_name %></b></p> 
      <p style="float:left"><%= todo_list.due_date %></p> 
    </div>
  </div>
 <%end%>

